.container{
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--custom-box-shadow);

    min-height: 50rem;

    @media only screen and (max-width:$bp-largest){
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}