.cta{
    padding: 3.5rem;
    text-align: center;

    @media only screen and (max-width:$bp-medium){
        padding: 2.5rem;
    }

    &__book-now{
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 300;
        margin-bottom: 3.5rem;
    }
}