.overview{
    display: flex;
    border-bottom: 1px solid var(--color-grey-light-2);
    align-items: center;

    &__heading{
        font-size: 2.25rem;
        font-weight: 300;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;
        text-transform: uppercase;
    }
    &__stars{
        margin-right: auto;
        display: flex;
    }
    &__icon-star,
    &__icon-location{
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-primary);
    }

    &__icon-location{
        margin-right: .5rem;
    }

    &__location{
        font-size: 1.2rem;
        display: flex;
        align-items: center;
    }
    &__ratings{
        background-color: var(--color-primary);
        color: #fff;
        margin-left: 3rem;
        padding: 0 2.25rem;
        align-self: stretch;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &--average{
            font-size: 2.25rem;
            font-weight: 300;
            margin-bottom: -3px;
        }
        &--count{
            font-size: .8rem;
            text-transform: uppercase;
        }
    }
}
.btn-inline{

}